/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

header {
    background-color: hsl(44, 59%, 87%);
    width: 100%;
}

body {
    margin: auto;
}

h1 {
    font-family: "Cormorant Garamond", serif;
}

/* ================================= 
  Form Elements
==================================== */

form {
    font-family: Tahoma, sans-serif;
}



/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */




/* ---- Page Elements ---- */



/* ---- Selectors ---- */

input + label:not(label[for^="phone"]),
input + label:not(label[for^="email"]),
input + label:not(label[for^="address"]) {
    font-weight: bold;
}



/* ================================= 
  Media Queries
==================================== */




