
/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

header {
    background-color: hsl(44, 59%, 87%);
    width: 100%;
    position: relative;
}

body {
    margin: auto;
}

h1 {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
}



/* ================================= 
  Form Elements
==================================== */

form {
    font-family: Tahoma, sans-serif;
}



/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */

#logo {
  /* COMBINE AFTER RESEARCH "BACKGROUND" PROPERTY: CSS-TRICKS */
    background-color: black;
  /* COMBINE AFTER RESEARCH "BACKGROUND" PROPERTY: CSS-TRICKS */
  
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: hsl(44, 59%, 87%);
    justify-content: center;
   
  }
  
#logo-inc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 75px;
  bottom: 0;
}



/* ---- Page Elements ---- */

#logo-inc>p {
  margin-top: 2px;
  margin-bottom: 0;
}

/* ---- Selectors ---- */

main label:not(.feedback>label) {
  font-weight: bold;
}



/* ================================= 
  Media Queries
==================================== */




